<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    {% extends 'base.html' %}
    {% block content %}
        <ul>
          <div class="pictures">
            {% for picture in pictures %}
        <a href="{% url 'picture_details' id=picture.pk %}">
          <li>
            <img src ="{{ picture.url }}" />
            <p>{{ picture.title }} by {{ picture.artist }} | Comments: {{ picture.comments.count }}</p>
          </li>
        </a>
            {% endfor %}
        </ul>
      </div>
    {% endblock %}
  </body>
</html>
