<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Pictures</h1>
        <ul>
            {% for picture in pictures %}
        <a href="{% url 'picture_details' id=picture.pk %}">
          <li>
            <p>{{ picture.title }} | {{ picture.artist }} | Comments: {{ picture.comments.count }}</p>
            <img src ="{{ picture.url }}" />
          </li>
        </a>
            {% endfor %}
        </ul>
    {% endblock %}  
  </body>
</html>
