header {
  color: grey;
}

img {
  width: 100%;
  margin: 0 auto;
}

p {
  font-family: cursive;
  color: black;
}

li {
  margin: 5px
}

a {
  border-style: solid;
  border-color: grey;
  margin: 10px;
  text-decoration: none;
}

footer {
  background: grey;
  display: flex;
  justify-content: center;
}
.pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
}

@media (max-width: 439px) and (min-width: 20px) {
  .pictures {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1024px) and (min-width: 440px) {
  .pictures {
    grid-template-columns: 1fr 1fr;
  }
}
