header {
  color: grey;
}

img {
  width: 100%;
  margin: 10px auto;

}

p {
  font-family: cursive;
  color: black;
  margin-left: 10px;
  /* position: relative;
  top: 230px; */
}

ul {
  list-style-type: none;
}

li {
  margin: 5px
}

a {
  border-style: solid;
  border-color: grey;
  margin: 10px;
  text-decoration: none;
}

footer {
  background: grey;
  display: flex;
  justify-content: center;
}

nav {
  margin-bottom: 30px;
}
.pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
}

.search_results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 5px solid grey;

}

@media (max-width: 439px) and (min-width: 20px) {
  .pictures {
    grid-template-columns: 1fr;
  }
  .search_results {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1024px) and (min-width: 440px) {
  .pictures {
    grid-template-columns: 1fr 1fr;
  }
}
